/*
@font-face {
font-family: 'univers';
src: url('./fonts/univers.ttf');
font-weight: 100 500;
font-style: normal;
}
@font-face {
font-family: 'univers';
src: url('./fonts/univers-bold.ttf');
font-weight: 600 900;
font-style: normal;
}
 */
@font-face {
  font-family: 'akkurat';
  font-display: auto;
  src: url('./fonts/akkurat-regular.ttf');
  font-weight: 100 500;
  font-style: normal;
}
@font-face {
  font-family: 'akkurat';
  font-display: auto;
  src: url('./fonts/akkurat-bold.ttf');
  font-weight: 600 900;
  font-style: normal;
}

:root {
  --bold: 800;
  --regular: 400;
  --basefont: akkurat,Open Sans,sans-serif;
  --red: #f9683a;
  --lightpurple: #efeef7;
  --light: #f7fafc;
  --purple: #8b95ff;
  --superlightgray: #f3f1ff;
  --lightgray: #626177;
  --gray: #38374b;
  --black: rgba(15,13,32,0.99);
  --fontlg: 2.2rem;
  --fontmd: 1.1rem;
  --fontsm: .8rem;

  --peoplegridmax: 150px;
  --cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --cubicbounce: cubic-bezier(0.74, -0.21, 0.51, 1.39);
  --boxshadow: 0 1px 3px rgba(188, 193, 217, .12), 0 5px 12px rgba(188, 193, 217, .25);

  --logosize: 2rem;
}

::selection {
  background: var(--black); /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: var(--black);/* Gecko Browsers */
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: var(--basefont);
  box-sizing: border-box;
}

html {
  background: #fff;
}

.hidden {
  height: 0;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: -5;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
}

main, footer {
  position: relative;
  max-width: 1600px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a, button, input, select, textarea, label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input[type="text"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  position: relative;
  width: 100%;
  padding: 10px 0 5px 0;
  color: var(--black);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--fontmd);
  line-height: 2.2rem;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

textarea {
  min-height: 62px;
  max-height: 150px;
  resize: none;
}

input::placeholder, 
textarea::placeholder {
  font-size: var(--fontmd);
  color: var(--black);
  transition: opacity .25s var(--cubic);
  opacity: 0;
}

div.input-wrapper {
  position: relative;
  margin-bottom: 25px;
}

div.input-wrapper::after {
  content: '';
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--black);
  transition: transform .25s var(--cubic);
  transform-origin: 0 0;
  transform: scaleX(0);
}

div.input-wrapper.active::after {
  transition-delay: .25s;
  transform: scaleX(1); 
}

div.input-wrapper.active input::placeholder,
div.input-wrapper.active textarea::placeholder {
  opacity: .5;
}

div.input-wrapper.empty label {
  transform: translateY(17px);
  cursor: text;
  opacity: .3;
}


label {
  position: absolute;
  font-size: var(--fontmd);
  background: #fff;
  color: var(--black);
  opacity: 1;
  width: 100%;
  transform-origin: 0 0;
  transform: translateY(-3px) scale(.75);
  transition-property: opacity, transform;
  transition: .25s var(--cubic);
  cursor: default;
  z-index: 1;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--purple);
  transition: background-color 100000000s;
}
input::placeholder, textarea::placeholder {
  color: var(--lightgray);
  opacity: 0;
}

@keyframes spin1 {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

div.loader {
  position: relative;
  height: 15px;
  width: 15px;
  background: none;
  opacity: 0;
  transform: scale(0);
  transition: .1s var(--cubic);
}

div.loader .error-message {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 250px;
  padding: 10px;
  margin: 0;
  background: #fff;
  box-shadow: var(--boxshadow);
  opacity: 0;
  transition-property: transform,opacity;
  transform-origin: 0;
  transform: scale(0) translate(-50%, 0);
  transition: .25s var(--cubicbounce);
}

div.loader .error-message.show {
  opacity: 1;
  transform: scale(1) translate(-50%, -30px);
}

div.loader .error-message .message {
  font-size: var(--fontsm);
  color: var(--lightgray);
}

div.loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: inherit;
  width: inherit;
  border: 2px solid #fefefe;
  border-bottom-color: var(--black);
  border-radius: 50%;
  opacity: inherit;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  animation: 1s cubic-bezier(0.54, 0.35, 0.74, 0.87) infinite spinner;
}

div.loader::after {
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
  background: var(--gray);
  -webkit-mask: url(/images/check.svg) center bottom / contain no-repeat;
  transition: transform .2s var(--cubicbounce);
  transform: scale(0);
  opacity: 0;
}

div.loader.show {
  opacity: 1;
  transform: scale(1);
}

div.loader.show.success::before,
div.loader.show.error::before {
  opacity: 0;
}

div.loader.show.success::after,
div.loader.show.error::after {
  transform: scale(1.3); 
  opacity: 1;
}

div.loader.show.error::after {
  background: var(--red);
  -webkit-mask: url(/images/error.svg) center bottom / contain no-repeat;
}

button.submit-button {
  background: none; 
  border: none;
  width: max-content;
  margin-left: auto;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: transform .2s var(--cubic);
}

button.submit-button:hover>div::before,
button.submit-button:focus>div::before {
  opacity: 0; 
}

button.submit-button:hover>div::after,
button.submit-button:focus>div::after {
  opacity: 1; 
}

button.submit-button:hover,
button.submit-button:focus {
  transform: translateY(-1px);
}
button.submit-button:active {
  transform: translateY(1px);
}

button.submit-button>div {
  position: relative;
  height: inherit;
  background: #fff;
  font-size: var(--fontsm);
  font-weight: var(--bold);
  text-transform: uppercase;
  color: var(--black);
  padding: 0.85rem;
  z-index: -1;
}

button.submit-button>div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--lightgray);
  transition: opacity .25s var(--cubic);
}

button.submit-button>div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  box-shadow: var(--boxshadow);
  opacity: 0;
  transition: opacity .25s var(--cubic);
}

section.verse, section.about, footer div.footer-content {
  margin-left: 8%;
}

section.verse {
  margin-top: 150px;
  max-width: 500px;
  z-index: 1;
  opacity: 0;
  transition: opacity .25s var(--cubic);
}

section.verse.show {
  opacity: 1;
}

section.verse p {
  font-size: var(--fontlg);
  line-height: calc(var(--fontlg) + .5rem);
  font-weight: var(--bold);
  color: var(--black);
}

section.about {
  max-width: 500px;
}

section.about p {
  font-weight: var(--regular);
  color: var(--gray);
  font-size: 1rem;
}

section.globe {
  position: relative; 
  width: 900px; 
  margin-top: -29%;
  margin-left: auto;
  opacity: 0;
  transition: opacity 1s var(--cubic);
}

div.globe-content {
  max-height: 700px;
  width: 1200px;
  transform: translateX(-130px);
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

div.popup {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

div.popup .content {
  position: relative;
  width: 150px;
  transition-delay: 0s;
  transform-property: transform, opacity;
  transition: .25s var(--cubic);
  transform: scale(0);
  transform-origin: 50% 100%;
}

@keyframes pulse {
  30% {
    opacity: .5;
    transform: translateX(-50%) scale(1.3);
  }
  70%, 100% {
    opacity: 0;
    transform: translateX(-50%) scale(1.7);
  }
}

div.popup .content::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--black);
  opacity: 0;
  transform: translateX(-50%) scale(.5);
  z-index: -1;
  animation: none;
}

div.popup .content.animating::after {
  -webkit-animation: pulse 2s linear infinite;
  -webkit-animation-delay: -.4s;
  animation: pulse 2s linear infinite;
  animation-delay: -.4s;
}

div.popup .content>div {
  display: grid;
  grid-gap: .5rem;
  font-size: var(--fontsm);
  color: var(--black);
  padding: 10px;
  background: #fff;
  box-shadow: var(--boxshadow);
}


@media(max-width: 1600px) {
  section.globe {
    max-width: 56vw;
  }
}

@media(max-width: 1024px) {
  section.globe {
    margin-top: -30%;
  }

  div.globe-content {
    width: 1000px;
    max-height: 500px;
  }
  
}
@media(max-width: 767px) {
  section.globe {
    margin-top: 20px;
    max-width: 100vw;
    padding-left: 20px;
  }
  div.globe-content {
    width: 1100px;
    max-height: 500px;
  }
  section.verse, section.about, footer div.footer-content {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
  }

  :root {
    --fontlg: 6vw;
  }
}

@media(max-width: 425px) {
  div.globe-content {
    max-width: 600px;
    max-height: max-content;
    transform: translateX(-50px);
  }
}

section.globe.show {
  opacity: 1;
}

section.globe canvas {
  position: relative;
  width: 100%!important;
  height: auto!important;
  background: transparent;
  z-index: -1;
}

div.people {
  position: relative;
  background: #fff;
  margin: 20px; 
  display: grid;
  grid-template-columns: var(--peoplegridmax) 80px 80px auto;
  grid-gap: 10px;
  align-items: center;
}

div.people::before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

div.user-count {
  place-self: start end;
  padding: 5px;
  margin: -5px;
  outline: none;
  z-index: 1;
}

div.user-count:hover .count,
div.user-count:focus .count,
div.user-count:active .count {
  transform: translateX(0); 
}

div.user-count:hover .user-type,
div.user-count:focus .user-type,
div.user-count:active .user-type {
  opacity: 1;
  transform: scaleX(1); 
}

div.user-count p {
  margin: 0;
  display: inline-block;
  font-size: var(--fontsm);
  text-align: right;
  text-transform: uppercase;
  transition-property: transform, opacity;
  transition: .25s var(--cubic);
  transform-origin: 100%;
  cursor: default;
}

div.user-count .count {
  transform: translateX(50px);
}

div.user-count .user-type {
  opacity: 0;
  transform: scaleX(0)
}

@media(max-width: 767px) {
  div.people {
    justify-content: end;
    grid-template-columns: var(--peoplegridmax) minmax(auto, 150px);
    margin: 20px 40px 20px 20px;
  }

  div.send-wave-container {
    grid-column: 2;
  }

  div.user-count {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

div.scroll-container {
  overflow: hidden;
  position: relative;
}


div.users {
  display: flex;
  transition: .3s var(--cubic);
}

div.user {
  width: var(--peoplegridmax);
  flex-shrink: 0;
  transition: .25s var(--cubic);
  transform: scale(.6);
  opacity: .3;
}

div.user.active {
  transform: scale(1); 
  opacity: 1;
}

div.user h3,
div.user span {
  font-size: var(--fontsm);
  font-weight: var(--regular);
  color: var(--black);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 1.2rem;
  align-self: start;
  line-height: 1.2rem !important;
  margin: 0px;
  overflow: hidden;
}

div.actions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: .99rem;
  justify-content: end;
  align-items: center;
}

button.button {
  position: relative;
  align-self: stretch;
  outline: none;
  border: none;
  background: none; 
  padding: 0;
  min-height: 60px;
  font-size: 0;
  cursor: pointer;
}

@media(min-width: 766px) {
  button.button:hover::before,
  button.button:focus::before {
    transform: scale(1.03);
  }
}

button.button:active::before {
  transform: scale(.97);
}


button.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid var(--lightgray);
  transition: transform .15s var(--cubic);
  transform: scale(1);
}

button.button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 30px;
  background: var(--black);
  transition: transform .15s var(--cubic);
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
}

button.arrow-next::after {
  -webkit-mask: url(/images/next-arrow.svg) center bottom / contain no-repeat;
  mask: url(/images/next-arrow.svg) center bottom / contain no-repeat;
}

button.send-wave::after {
  -webkit-mask: url(/images/plus.svg) center bottom / contain no-repeat;
  mask: url(/images/plus.svg) center bottom / contain no-repeat;
}


button.send-wave.exit::after {
  transform: rotate(45deg) translate(-50%, -50%);
}

div.send-wave-container {
  position: relative;
  display: inherit;
  height: 100%;
  width: 100%;
}

form.send-wave-form {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%) scale(.5);
  border: none;
  width: 350px;
  padding: 35px 30px;
  background: #fff;
  box-shadow: var(--boxshadow);
  pointer-events: none;
  opacity: 0;
  transform-origin: 50% 100%;
  transition: opacity .25s var(--cubic), transform .25s var(--cubicbounce);
}

form.send-wave-form.show {
  transform: translateX(-50%) scale(1);
  pointer-events: initial;
  opacity: 1;
}

@media(max-width: 1024px) {
  form.send-wave-form {
    min-width: unset;
    width: 280px;
  }
  form.send-wave-form.show {
    transform: translateX(-80%) scale(1);
  }
  form.send-wave-form .carat {
    transform: translateX(800%) rotate(45deg) !important;
  }
}

div.popup .content .carat,
form.send-wave-form .carat,
div.loader.error-message .carat {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 10px;
  width: 10px;
  background: #fff;
}

div.popup .content .name {
  font-size: var(--fontsm); 
  font-weight: var(--regular);
}

div.popup .content .location {
  font-size: var(--fontsm);
  font-weight: var(--bold);
  color: var(--black); 
}

footer div.footer-content {
  display: grid;
  grid-template-columns: 381px max-content;
  grid-gap: 1rem;
  max-width: 500px;
  margin-bottom: 40px;
  opacity: 0;
  transition: opacity .25s var(--cubic);
}

footer div.footer-content.show {
  opacity: 1;
}

@media(max-width: 767px) {
  footer div.footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  footer div.footer-content p {
    font-size: var(--fontsm);
  }
  footer div.footer-content p:nth-child(3),
  footer div.footer-content p:nth-child(4),
  footer ul.social  {
    grid-row: initial !important;
  }
}

footer p {
  margin: 0;
  font-size: var(--fontmd);
  color: var(--black);
}

footer div.footer-content p:nth-child(3) {
  grid-row: 2;
}
footer div.footer-content p:nth-child(4) {
  grid-row: 3;
}

a.hover {
  position: relative;
  cursor: ne-resize;
  color: inherit;
  transition: opacity .15s var(--cubic);
  outline: none;
}

a.hover.cursor-default {
  cursor: pointer;
}

a.hover::before,
a.hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-top: 4px solid transparent;
  z-index: -1;
}

a.hover::before {
  background: var(--lightpurple);
}

a.hover::after {
  background: var(--black);
  border-top: 4px solid #fff;
  transition: transform .15s var(--cubic);
  transform-origin: 0;
  transform: scaleX(0);
}

a.hover:hover::after,
a.hover:active::after,
a.hover:focus::after {
  transform: scaleX(1); 
}

footer ul.social {
  grid-row: 3;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1rem;
  align-items: end;
}
footer ul.social a {
  text-transform: uppercase;
}

nav {
  position: relative;
  padding: 40px 40px 0 40px;
}

nav ul.language-selectors {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  justify-content: end;
  grid-gap: 1rem;
}

div.logo {
  height: var(--logosize);
  margin-bottom: calc(var(--logosize) / 2);
  position: absolute;
  top: 100%;
  transform: skewY(-6deg) translateY(-50%);
  transform-origin: 0;
}

div.logo span {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-50px);
  transition-property: opacity, transform;
  transition: .25s var(--cubicbounce);
}

div.logo em {
  display: block;
  font-weight: var(--bold);
  font-size: var(--logosize);
}

div.logo span:first-child {
  top: 0;
  height: calc(var(--logosize) / 3 - calc(var(--logosize) * 0.03));

}

div.logo.show span {
  transform: translateX(0);
  opacity: 1;
}

div.logo.hide span {
  transform: translateX(50px);
  opacity: 0;
}

div.logo.show span:nth-child(2) {
  transition-delay: 0.15s;
}
div.logo.show span:nth-child(3) {
  transition-delay: 0.25s;
}

div.logo span:first-child em {
  margin-top: calc(var(--logosize) / -3);
  color: var(--black);
}
div.logo span:nth-child(2) {
  top: calc(var(--logosize) / 3);
  height: calc(var(--logosize) / 4 - calc(var(--logosize) * 0.03));
  animation-delay: 0.7s;
}

div.logo span:nth-child(2) em {
  margin-top: calc(var(--logosize) / -3 + calc(var(--logosize) / -3));
  color: var(--gray);
}

div.logo span:nth-child(3) {
  top: calc(var(--logosize) / 4 + calc(var(--logosize) / 3));
  height: calc(var(--logosize) / 2 - 0.2rem);
  animation-delay: 0.6s;
}

div.logo span:nth-child(3) em {
  margin-top: calc(
  var(--logosize) / -4 + calc(var(--logosize) / -3) -
  calc(var(--logosize) / 3)
  );
  color: var(--lightgray);
}

